@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

titulo,
subtitulo,
conteudo {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}


cabecalho,
cabecalho * {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 28px;
  font-weight: bold;
}

article {
  display: flex;
  flex-direction: column;
}

titulo {
  font-size: 32px;
}

subtitulo,
button {
  font-size: 20px;
  font-weight: bold;
}

conteudo {
  font-size: 16px;
  text-align: justify;
}



h1::after,
h2::after,
h3::after,
titulo::after,
subtitulo::after,
conteudo::after {
  content: "";
  display: block;
}


conteudo~subtitulo {
  margin-top: 25px;
}