.content {
    align-items: center;
    padding: 20px;
    width: 70%;
}

iframe {
    border: none;
}

@media (max-width: 1000px) {
    .content {
        width: 90vw;
    }
}

.button_container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border: none;
    width: 70%;
    gap: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}

.button {
    font-family: "Nunito", sans-serif;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

.button.selected {
    border: solid #0075ff;
    box-sizing: border-box;
}