/* Reset básico CSS */
/*
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*/

  body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, dt, form, fieldset, legend, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  ul, ol {
    list-style: none;
  }
  