* {
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
}

.titulo_site {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #0075ff;
    text-align: center;
}

.artigo,
.sub_titulo {
    
    text-align: justify;
}

.artigo {
    display: flex;
    flex-direction: column;
}

.artigo+h1,
h2,
h3,
h4 {
    margin-bottom: 25px;
}

li {
    list-style: none;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
}


.button {
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 0, 0);
    border: 2px transparent;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.button.selected {
    border: solid black;
}

.content {
    display: none;
}

.content.active {
    display: block;
}